.container {
	width: 100%;
	height: 70vh;
	display: flex;
	flex-direction: column;
	color: blackwhite;
	align-items: center;
	justify-content: center;
	background-color: #e1dfdf;
	border-radius: 15px;
	margin-top: 18px;
}
.container input {
	background-color: transparent;
	border: 1px solid black;
	border-radius: 12px;
	width: 20rem;
	color: black;
	padding: 0.5rem;
	margin: 0.35rem;
}
.header {
	top: 0;
	left: 0;
	width: 100%;
	height: 5rem;
	background-color: #8a2b06;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10%;
	box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
	z-index: 10;
}
.error {
	margin: 0%;
	color: red;
	padding-bottom: 0.25rem;
}
.buttons {
	display: flex;
}
