.container {
	width: 100%;
	height: 70vh;
	display: flex;
	flex-direction: column;
	color: blackwhite;
	align-items: center;
	justify-content: center;
	background-color: #e1dfdf;
	border-radius: 15px;
	margin-top: 18px;
}
.container input {
	background-color: transparent;
	border: 1px solid black;
	border-radius: 12px;
	width: 20rem;
	color: black;
	padding: 0.5rem;
	margin: 0.35rem;
}
.error {
	margin: 0%;
	color: red;
}
