.boundary {
  display: flex;
  flex-wrap: wrap;
}
.card {
  margin-right: 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  box-shadow: 0 2px 8px rgb(0, 0, 0, 0.25);
  border-radius: 14px;
  background-color: white;
  width: 15rem;
}
.container {
  display: inline-block;
  background-color: #f5f5f5;
  border: 1px solid;
  border-radius: 2%;
  margin: 1% 1%;
  padding: 1%;
  width: 21rem;
  height: 15rem;
  overflow-y: scroll;
  margin-right: 1%;
}

.price {
  display: flex;
  flex-direction: column;
}
.orderitems {
  display: flex;
  flex-direction: column;
  /* background-color: #dec8d3; */
  margin-left: 2%;
  padding: 2% 5%;
  color: #333333;
}
.container button {
  width: max-content;
  border-radius: 12px;
  border: rgb(43, 42, 42) 1px solid;
  background-color: #fae9e1;
  /* background-color: blue; */
}
/* .orderitems p {
  margin: 0%;
  padding: 0%;
} */
.container h1,
h3,
p {
  margin: 0%;
  padding: 0%;
}
.orderitems h3 {
  margin: 0%;
  padding: 0%;
}
ul {
  list-style: none;
  width: auto;
}
li {
  list-style: none;
}
hr {
  width: 100%;
  height: 1px;
  /* margin: 0%; */
  /* padding: 1%; */
  border: 0;
  background-color: grey;
}
