.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.image {
  object-fit: contain;
  width: 50%;
  height: 50%;
}
.heading {
  color: white;
}
