.btn {
	font: inherit;
	cursor: pointer;
	background-color: #4d1601;
	border: 1px solid #8a2b06;
	color: white;
	padding: 0.5rem 2rem;
	border-radius: 20px;
	font-weight: bold;
	margin-left: 0.5rem;
}
